
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/vestack/index.html">Vestack Provider</a>
                </li>
                
                <li>
                    <a href="#">CLB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/acls.html">acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/certificates.html">certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/clbs.html">clbs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/listeners.html">listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/server_groups.html">server_groups</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/acl.html">acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/acl_entry.html">acl_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/certificate.html">certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/clb.html">clb</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/listener.html">listener</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/server_group.html">server_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/server_group.html">server_group</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EBS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/volumes.html">volumes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/volume.html">volume</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/volume_attach.html">volume_attach</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ECS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/ecs_instances.html">ecs_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/images.html">images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/zones.html">zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_instance.html">ecs_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/ecs_instance_state.html">ecs_instance_state</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EIP</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/eip_addresses.html">eip_addresses</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/eip_address.html">eip_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/eip_associate.html">eip_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">NAT</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/nat_gateways.html">nat_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/snat_entries.html">snat_entries</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/nat_gateway.html">nat_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/snat_entry.html">snat_entry</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPC</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/d/network_interfaces.html">network_interfaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/route_entries.html">route_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/route_tables.html">route_tables</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/security_groups.html">security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/subnets.html">subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/d/vpcs.html">vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/vestack/r/network_interface.html">network_interface</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/network_interface_attach.html">network_interface_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/route_entry.html">route_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/route_table.html">route_table</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/route_table_associate.html">route_table_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/security_group.html">security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/security_group_rule.html">security_group_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/subnet.html">subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/vestack/r/vpc.html">vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
