
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/volcengine/index.html">Volcengine Provider</a>
                </li>
                
                <li>
                    <a href="#">AUTOSCALING</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/scaling_activities.html">scaling_activities</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/scaling_configurations.html">scaling_configurations</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/scaling_groups.html">scaling_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/scaling_instances.html">scaling_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/scaling_lifecycle_hooks.html">scaling_lifecycle_hooks</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/scaling_policies.html">scaling_policies</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/scaling_configuration.html">scaling_configuration</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/scaling_configuration_attachment.html">scaling_configuration_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/scaling_group.html">scaling_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/scaling_group_enabler.html">scaling_group_enabler</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/scaling_instance_attachment.html">scaling_instance_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/scaling_lifecycle_hook.html">scaling_lifecycle_hook</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/scaling_policy.html">scaling_policy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">BIOOS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/bioos_clusters.html">bioos_clusters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/bioos_workspaces.html">bioos_workspaces</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/bioos_cluster.html">bioos_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/bioos_cluster_bind.html">bioos_cluster_bind</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/bioos_workspace.html">bioos_workspace</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CEN(BETA)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/cens.html">cens</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cen_attach_instances.html">cen_attach_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cen_bandwidth_packages.html">cen_bandwidth_packages</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cen_inter_region_bandwidths.html">cen_inter_region_bandwidths</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cen_route_entries.html">cen_route_entries</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/cen.html">cen</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cen_attach_instance.html">cen_attach_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cen_bandwidth_package.html">cen_bandwidth_package</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cen_bandwidth_package_associate.html">cen_bandwidth_package_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cen_grant_instance.html">cen_grant_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cen_inter_region_bandwidth.html">cen_inter_region_bandwidth</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CLB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/acls.html">acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/certificates.html">certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/clbs.html">clbs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/listeners.html">listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/clb_rules.html">clb_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/server_groups.html">server_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/server_group_servers.html">server_group_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/clb_zones.html">clb_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/acl.html">acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/acl_entry.html">acl_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/certificate.html">certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/clb.html">clb</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/listener.html">listener</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/clb_rule.html">clb_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/server_group.html">server_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/server_group_server.html">server_group_server</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CR</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_authorization_tokens.html">cr_authorization_tokens</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_endpoints.html">cr_endpoints</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_namespaces.html">cr_namespaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_registries.html">cr_registries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_repositories.html">cr_repositories</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_tags.html">cr_tags</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_vpc_endpoints.html">cr_vpc_endpoints</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_endpoint.html">cr_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_namespace.html">cr_namespace</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_registry.html">cr_registry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_registry_state.html">cr_registry_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_repository.html">cr_repository</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_tag.html">cr_tag</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_vpc_endpoint.html">cr_vpc_endpoint</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EBS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/volumes.html">volumes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/volume.html">volume</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/volume_attach.html">volume_attach</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ECS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/ecs_deployment_sets.html">ecs_deployment_sets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/ecs_instances.html">ecs_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/ecs_key_pairs.html">ecs_key_pairs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/images.html">images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/zones.html">zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_deployment_set.html">ecs_deployment_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_deployment_set_associate.html">ecs_deployment_set_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_instance.html">ecs_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_instance_state.html">ecs_instance_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_key_pair.html">ecs_key_pair</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_key_pair_associate.html">ecs_key_pair_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EIP</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/eip_addresses.html">eip_addresses</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/eip_address.html">eip_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/eip_associate.html">eip_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ESCLOUD</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/escloud_instances.html">escloud_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/escloud_zones.html">escloud_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/escloud_instance.html">escloud_instance</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">IAM</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/iam_policies.html">iam_policies</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/iam_roles.html">iam_roles</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/iam_users.html">iam_users</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_access_key.html">iam_access_key</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_login_profile.html">iam_login_profile</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_policy.html">iam_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_role.html">iam_role</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_role_policy_attachment.html">iam_role_policy_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_user.html">iam_user</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_user_policy_attachment.html">iam_user_policy_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">MONGODB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_accounts.html">mongodb_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_allow_lists.html">mongodb_allow_lists</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_endpoints.html">mongodb_endpoints</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_instances.html">mongodb_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_instance_parameters.html">mongodb_instance_parameters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_instance_parameter_logs.html">mongodb_instance_parameter_logs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_regions.html">mongodb_regions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_specs.html">mongodb_specs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_ssl_states.html">mongodb_ssl_states</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/mongodb_zones.html">mongodb_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/mongodb_allow_list.html">mongodb_allow_list</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/mongodb_allow_list_associate.html">mongodb_allow_list_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/mongodb_endpoint.html">mongodb_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/mongodb_instance.html">mongodb_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/mongodb_instance_parameter.html">mongodb_instance_parameter</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/mongodb_ssl_state.html">mongodb_ssl_state</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">NAT</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/dnat_entries.html">dnat_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/nat_gateways.html">nat_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/snat_entries.html">snat_entries</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/dnat_entry.html">dnat_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/nat_gateway.html">nat_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/snat_entry.html">snat_entry</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">PRIVATELINK</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/privatelink_vpc_endpoints.html">privatelink_vpc_endpoints</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/privatelink_vpc_endpoint_connections.html">privatelink_vpc_endpoint_connections</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/privatelink_vpc_endpoint_services.html">privatelink_vpc_endpoint_services</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/privatelink_vpc_endpoint_service_permissions.html">privatelink_vpc_endpoint_service_permissions</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/privatelink_vpc_endpoint_zones.html">privatelink_vpc_endpoint_zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/privatelink_security_group.html">privatelink_security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/privatelink_vpc_endpoint.html">privatelink_vpc_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/privatelink_vpc_endpoint_connection.html">privatelink_vpc_endpoint_connection</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/privatelink_vpc_endpoint_service.html">privatelink_vpc_endpoint_service</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/privatelink_vpc_endpoint_service_permission.html">privatelink_vpc_endpoint_service_permission</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/privatelink_vpc_endpoint_service_resource.html">privatelink_vpc_endpoint_service_resource</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/privatelink_vpc_endpoint_zone.html">privatelink_vpc_endpoint_zone</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">RDS_MYSQL</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_accounts.html">rds_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_databases.html">rds_databases</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_instances.html">rds_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_ip_lists.html">rds_ip_lists</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_parameter_templates.html">rds_parameter_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_mysql_allowlists.html">rds_mysql_allowlists</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_mysql_accounts.html">rds_mysql_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_mysql_databases.html">rds_mysql_databases</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_mysql_instances.html">rds_mysql_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_instances_v2.html">rds_instances_v2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_account.html">rds_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_account_privilege.html">rds_account_privilege</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_database.html">rds_database</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_instance.html">rds_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_ip_list.html">rds_ip_list</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_parameter_template.html">rds_parameter_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_mysql_allowlist.html">rds_mysql_allowlist</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_mysql_allowlist_associate.html">rds_mysql_allowlist_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_mysql_account.html">rds_mysql_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_mysql_database.html">rds_mysql_database</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_mysql_instance.html">rds_mysql_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_mysql_instance_readonly_node.html">rds_mysql_instance_readonly_node</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_instance_v2.html">rds_instance_v2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TOS(BETA)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/tos_buckets.html">tos_buckets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/tos_objects.html">tos_objects</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/tos_bucket.html">tos_bucket</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/tos_bucket_policy.html">tos_bucket_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/tos_object.html">tos_object</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VEENEDGE</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/veenedge_available_resources.html">veenedge_available_resources</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/veenedge_cloud_servers.html">veenedge_cloud_servers</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/veenedge_instances.html">veenedge_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/veenedge_instance_types.html">veenedge_instance_types</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/veenedge_vpcs.html">veenedge_vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/veenedge_cloud_server.html">veenedge_cloud_server</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/veenedge_instance.html">veenedge_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/veenedge_vpc.html">veenedge_vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VKE</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_addons.html">vke_addons</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_clusters.html">vke_clusters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_kubeconfigs.html">vke_kubeconfigs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_nodes.html">vke_nodes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_node_pools.html">vke_node_pools</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_support_addons.html">vke_support_addons</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_addon.html">vke_addon</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_cluster.html">vke_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_default_node_pool.html">vke_default_node_pool</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_default_node_pool_batch_attach.html">vke_default_node_pool_batch_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_kubeconfig.html">vke_kubeconfig</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_node.html">vke_node</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_node_pool.html">vke_node_pool</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPC</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/vpc_ipv6_addresses.html">vpc_ipv6_addresses</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vpc_ipv6_address_bandwidths.html">vpc_ipv6_address_bandwidths</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vpc_ipv6_gateways.html">vpc_ipv6_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/network_acls.html">network_acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/network_interfaces.html">network_interfaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/route_entries.html">route_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/route_tables.html">route_tables</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/security_groups.html">security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/security_group_rules.html">security_group_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/subnets.html">subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vpcs.html">vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/vpc_ipv6_address_bandwidth.html">vpc_ipv6_address_bandwidth</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vpc_ipv6_gateway.html">vpc_ipv6_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/network_acl.html">network_acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/network_acl_associate.html">network_acl_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/network_interface.html">network_interface</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/network_interface_attach.html">network_interface_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/route_entry.html">route_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/route_table.html">route_table</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/route_table_associate.html">route_table_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/security_group.html">security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/security_group_rule.html">security_group_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/subnet.html">subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vpc.html">vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPN(BETA)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/customer_gateways.html">customer_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vpn_connections.html">vpn_connections</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vpn_gateways.html">vpn_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vpn_gateway_routes.html">vpn_gateway_routes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/customer_gateway.html">customer_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vpn_connection.html">vpn_connection</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vpn_gateway.html">vpn_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vpn_gateway_route.html">vpn_gateway_route</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
