
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/volcengine/index.html">Volcengine Provider</a>
                </li>
                
                <li>
                    <a href="#">CLB</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/acls.html">acls</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/certificates.html">certificates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/clbs.html">clbs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/listeners.html">listeners</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/clb_rules.html">clb_rules</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/server_groups.html">server_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/server_group_servers.html">server_group_servers</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/acl.html">acl</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/acl_entry.html">acl_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/certificate.html">certificate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/clb.html">clb</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/listener.html">listener</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/clb_rule.html">clb_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/server_group.html">server_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/server_group_server.html">server_group_server</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">CR</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_authorization_tokens.html">cr_authorization_tokens</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_endpoints.html">cr_endpoints</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_namespaces.html">cr_namespaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_registries.html">cr_registries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_repositories.html">cr_repositories</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/cr_tags.html">cr_tags</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_endpoint.html">cr_endpoint</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_namespace.html">cr_namespace</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_registry.html">cr_registry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_registry_state.html">cr_registry_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_repository.html">cr_repository</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/cr_tag.html">cr_tag</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EBS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/volumes.html">volumes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/volume.html">volume</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/volume_attach.html">volume_attach</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ECS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/ecs_deployment_sets.html">ecs_deployment_sets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/ecs_instances.html">ecs_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/ecs_key_pairs.html">ecs_key_pairs</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/images.html">images</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/zones.html">zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_deployment_set.html">ecs_deployment_set</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_deployment_set_associate.html">ecs_deployment_set_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_instance.html">ecs_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_instance_state.html">ecs_instance_state</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_key_pair.html">ecs_key_pair</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/ecs_key_pair_associate.html">ecs_key_pair_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">EIP</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/eip_addresses.html">eip_addresses</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/eip_address.html">eip_address</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/eip_associate.html">eip_associate</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">ESCLOUD</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/escloud_instances.html">escloud_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/zones.html">zones</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/escloud_instance.html">escloud_instance</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">IAM</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/iam_policies.html">iam_policies</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/iam_roles.html">iam_roles</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/iam_users.html">iam_users</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_access_key.html">iam_access_key</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_login_profile.html">iam_login_profile</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_policy.html">iam_policy</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_role.html">iam_role</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_role_policy_attachment.html">iam_role_policy_attachment</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_user.html">iam_user</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/iam_user_policy_attachment.html">iam_user_policy_attachment</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">NAT</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/nat_gateways.html">nat_gateways</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/snat_entries.html">snat_entries</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/nat_gateway.html">nat_gateway</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/snat_entry.html">snat_entry</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">RDS_MYSQL</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_accounts.html">rds_accounts</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_databases.html">rds_databases</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_instances.html">rds_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_ip_lists.html">rds_ip_lists</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_parameter_templates.html">rds_parameter_templates</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/rds_instances_v2.html">rds_instances_v2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_account.html">rds_account</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_account_privilege.html">rds_account_privilege</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_database.html">rds_database</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_instance.html">rds_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_ip_list.html">rds_ip_list</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_parameter_template.html">rds_parameter_template</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/rds_instance_v2.html">rds_instance_v2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">TOS(BETA)</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/tos_buckets.html">tos_buckets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/tos_objects.html">tos_objects</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/tos_bucket.html">tos_bucket</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/tos_object.html">tos_object</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VKE</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_addons.html">vke_addons</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_clusters.html">vke_clusters</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_nodes.html">vke_nodes</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_node_pools.html">vke_node_pools</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vke_support_addons.html">vke_support_addons</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_addon.html">vke_addon</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_cluster.html">vke_cluster</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_default_node_pool.html">vke_default_node_pool</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_node.html">vke_node</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vke_node_pool.html">vke_node_pool</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">VPC</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/d/network_interfaces.html">network_interfaces</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/route_entries.html">route_entries</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/route_tables.html">route_tables</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/security_groups.html">security_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/subnets.html">subnets</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/d/vpcs.html">vpcs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/volcengine/r/network_interface.html">network_interface</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/network_interface_attach.html">network_interface_attach</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/route_entry.html">route_entry</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/route_table.html">route_table</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/route_table_associate.html">route_table_associate</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/security_group.html">security_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/security_group_rule.html">security_group_rule</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/subnet.html">subnet</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/volcengine/r/vpc.html">vpc</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
